@import "/cssFiles/productList.css";
@import "/cart/cart.css";

:root{
    --blue-color: #6976D9;
    --white-color: white;
    --black-color: black;
    --light-grey: lightgrey;
}

.navbar {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    background-color: var(--blue-color);
    padding: 0.6rem 0rem;
}

.input-field{
    padding: 0.6rem 1.8rem;
    border-radius: 0.8rem;
    width: 100%;
    border: none;
    outline: none;
    
}


.input-container {
    display: flex;
    position: relative;
}
.btn{
    padding: 0.1rem 1.2rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--light-grey);
    border: none;
    margin: .5rem;
    
}

.top-links {
    display: flex;
    justify-content:flex-end;
    align-items:center;
    margin-right: 2rem;
}

.child-ecom {
    margin: 1rem;
    position: relative;
    font-size: large;
}

.logo{
    margin-left: 2rem;
    text-shadow: 1px 1px 4px  var(--black-color);
    letter-spacing: 0.2rem;
    color: var(--black-color);
    font-weight: bold;
    font-size: 25px;
    
}

.input-container {
    display: flex;
    position: relative;
}

.input-field{
    padding: 0.6rem 1.8rem;
    border-radius: 0.8rem;
    width: 100%;
    border: none;
    outline: none;
}

a{
    text-decoration: none;
    color: var(--black-color);
}

.icon-button{
    background-color: transparent;
}

.men-card-container {
    display: flex;
    gap: 2rem;
}

.img-overlay-card {
    margin-top: 8rem;
    background-image: url('pics/Mens\ Fashion.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.75rem;
    flex: 1 1 17.875rem;
}

.img-overlay-card .overlay-text {
    text-align: center;
    width: 100%;
    background-color: var(--white-color);
}

.banner img {
    margin: 3rem 3rem 3rem 3rem;
    
    height: 691px;
    width: 1250px;
}

/* collection cards */

.collection-card {
    display: flex;
    gap: 2rem;
}

.card-container {
    background-color: var(--white-color);
    padding: 2rem;
    display: flex;
    flex: 1 1 48.938rem;
}

.card-img-container img{
    width: 12.75rem;
    height: 14.813rem;
    object-fit: cover;
}

.collection-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
}

.collection-info section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.collection-info>section>h2 {
    font-size: 1.75rem;
    line-height: 2.625rem;
}

.collection-info>section>p {
    font-size: 1.125rem;
    line-height: 1.688rem;
}